<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.association.dao.AssocMemberMapper">
  <resultMap id="BaseResultMap" type="com.example.association.pojo.AssocMember">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="assoc_id" jdbcType="INTEGER" property="assocId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, assoc_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assoc_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from assoc_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.association.pojo.AssocMember">
    insert into assoc_member (id, member_id, assoc_id
      )
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{assocId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.association.pojo.AssocMember">
    insert into assoc_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="assocId != null">
        assoc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="assocId != null">
        #{assocId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.association.pojo.AssocMember">
    update assoc_member
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="assocId != null">
        assoc_id = #{assocId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.association.pojo.AssocMember">
    update assoc_member
    set member_id = #{memberId,jdbcType=INTEGER},
      assoc_id = #{assocId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  自定义mapper-->
  <select id="getAllAssocMembersId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select member_id as memberId
    from assoc_member
    where assoc_id = #{associationId}
  </select>
  
  <delete id="removeMemberById" parameterType="java.lang.Integer">
    delete
    from assoc_member
    where member_id = #{memberId} and assoc_id = #{associationId}
  </delete>

  <select id="getByMemberId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select *
    from assoc_member
    where member_id = #{applicantId} and assoc_id = #{associationId}
  </select>
</mapper>